<div id="sb-site">
    <div class="clearfix">
        <div class="container noPadding-middle">

            <!--<div class="row">-->
            <div class="col-lg-12 col-md-9 col-md-push-3 col-lg-push-0 noPadding-desktop noPadding-middle noPadding-small">
                <div class="menuBlocks clearfix">
                    <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                        <a href="#" class="topMenuLink">
                            Find Businesses
                            <span class="menuDivider">|</span>
                        </a>
                    </div>
                    <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                        <a href="#" class="topMenuLink">
                            Book Online
                            <span class="menuDivider">|</span>
                        </a>
                    </div>
                    <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                        <a href="#" class="topMenuLink" >
                            Share Referrals
                        </a>
                    </div>
                </div>
                <div class="searchBlocks clearfix">
                    <%= form_for @biz,  :as => :biz,  url: 'filter', html: {:class => 'form-horizontal'} do |f| %>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 noPadding-desktop noPadding-middle noPadding-small searchInputWrapper">
                        <%= f.text_field :name, :class => 'dayreel-input', :placeholder => 'What are you looking for? Hair, Lawn care, Cleaners...'%>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 noPadding-desktop searchOrangeBlock">
                        <div class="whiteTriangle  pull-left hidden-xs"></div> 
                        <a href="javascript:void(0);" class="pull-left searchLink">Kansas City?</a>
                        <%= f.button '', :type => 'submit', :class => 'searchBtn pull-right'%>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="container noPadding-middle">
            <div class="search-menuBlocks clearfix">
                <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                    <a href="#" class="search-topMenuLink">
                        Home
                    </a>
                    <span class="search-menuDivider">&lt;</span>
                </div>
                <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                    <a href="#" class="search-topMenuLink">
                        Kansas City
                    </a>
                    <span class="search-menuDivider">&lt;</span>
                </div>
                <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                    <a href="#" class="search-topMenuLink" >
                        <%= @key %>
                    </a>
                </div>
            </div>
            <div class="inforBlocks clearfix" id="keywordBlocks">
                <div class="col-md-10 col-sm-12 keywordBlocks">
                    <span class="lable">Filters&nbsp;&#58;&nbsp;</span>
                    <!--<div class="tags-wrapper"> -->
                        <!--<span class="orange-info">Hair Salons</span>-->
                        <!--<span class="orange-info">Salons1</span>-->
                        <!--<span class="orange-info">Hair dddd</span>-->
                        <!--<span class="orange-info">Hair Salons3</span>-->
                        <!--<span class="orange-info">Salons4</span>-->
                        <!--<span class="orange-info">Salons5</span>-->
                    <!--</div>-->
                </div>
                <div class="col-md-2 col-sm-12 filter-option">
                    <span class="lable">Sort&nbsp;&#58;&nbsp;</span>
                    <span class="option">
                        <!--<select id="search-sortOption">-->
                            <!--<option value="asc">Ascending</option>-->
                            <!--<option value="des">Descending</option>-->
                        <!--</select>-->
                        <input type="hidden" id="key" value="<%= @key %>"/>
                        <%= select_tag('sort_type', options_for_select([['Ascending', 1], ['Descending', 2]], @sort_type), id: 'search-sortOption') %>
                    </span>
                </div>
            </div>
            <div class="clearfix" id="searchResultBlocks">
                <ul class="searchItemsBlock">
                    <% @bizs.each do |biz| %>
                    <li class="searchResult-item col-sm-4">
                        <div class="clearfix item-wrapper">
                            <div class="biz-info clearfix">
                                <div class="biz-header clearfix">
                                    <p class="biz-name"><%= biz.name %></p>
                                    <a href="#">
                                        <span class="biz-name-icon"></span>
                                    </a>
                                </div>
                                <hr class="biz-name-divider" />
                                <p class="biz-addressBlocks">
                                    <span class="address"><%= biz.address %></span><br/>
                                    <span class="city"><%= biz.city %></span>
                                </p>
                                <p class="biz-phoneBlocks"><%= biz.phone %></p>
                                <p class="biz-noteBlocks"><%= biz.note %></p>
                            </div>
                            <div class="actions">
                                <ul class="action-link-blocks">
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Tell a Friend">
                                            <span class="action-link-friend biz-friend"></span>
                                        </a>
                                        <span class="action-divider ">|</span>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="www">
                                            <span class="action-link-url biz-url"></span>
                                        </a>
                                        <span class="action-divider">|</span>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Map">
                                            <span class="action-link-map biz-map"></span>
                                        </a>
                                    </li>
                                </ul>
                              <div class="action-buttons">
                                <a class="action-buttons" href="<%= biz.url %>">
                                  <button type="button" class="action-button" >BOOK NOW</button>
                                </a>
                              </div>
                            </div>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!--<div class="inforBlocks clearfix" id="paginationBlocks">-->
                <!--<div class="pageCountBlocks">-->
                    <!--<p>-->
                        <!--<span class="lable">Total Founds&nbsp;&#58;&nbsp;</span>-->
                        <!--<span class="orange-info">120</span>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<ul class="pagination">-->
                    <!--<li><a href="#">Prev</a></li>-->
                    <!--<li><a href="#" class="active">1</a></li>-->
                    <!--<li><a href="#">2</a></li>-->
                    <!--<li><a href="#">3</a></li>-->
                    <!--<li><a href="#">4</a></li>-->
                    <!--<li><a href="#">5</a></li>-->
                    <!--<li><a href="#">Next</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
    